Body {
margin:0px ;
padding:0px



}
header{
border:2px solid blue ;
overflow: hidden;
width: 100%;
padding-color:black;
color: white


}
#banner{
  border:2px solid blue
  width:49%
  float:left;




}
header img{
  margin:0px;
float:left;
width:2px solid blue;




}
nav{

  float:rigt;
  color:white;
  margin-rigt:10px;
  border:2px solid blue;

}
footer{background-color:grey ;
  color :white;
padding:15px;
border:2px solid blue;
main{
  10px
}



}
